{%extends 'base_generic.html'%}

{%block content%}
{%if user.is_authenticated%}
<div class="tgblock">
    <div class="tg-annotation">
        <img src="/media/icons8-telegram-app-100.png" alt="">
        <p> {{user.username}} U need check your bot-chat and put code here:</p>
    </div>
    <div class="tg-input">
            <form action="" method="post">
                {% csrf_token %}
                    {{form.as_p}}
                    <button class="btn btn-success" type="submit"> Send Code </button>
            </form>    
    </div>
</div>
{%else%}
<a href="/userauth/"><button class="btn btn-primary btn-lg active" type="button">Вход</button></a>         
{%endif%}


{%endblock%}