
html {
  height: 100%;
}
body {
  min-height: 100%;
}
.container-fluid {
  background-color: rgba(255, 137, 137, 0.473);
}
.col-sm-2 {
background-color: rgba(150, 150, 255, 0.473);
}
.col-sm-10{
  box-sizing: border-box;
  min-height: 100%;
  padding-bottom: 450px;

}
.footer {
    height: 80px;
    margin-top: -80px;
  
}
.sidebar-nav {
  margin-top: 20px;
  padding: 20px;
  list-style: none;
  background-color: rgba(153, 63, 255, 0.274);
}
form {
  margin-left: 32%;
  width: 400px;
  margin-top: 60px;
}
.form_inline {

margin-left: 0%;
width: 700px;
margin-top: 10px;
margin-bottom: 40px;

}
.container {
display: flex;
flex-direction: column;
}

.header .container .header-left-first {
width: 325px;
min-height: 300px;
background: red
}

.header .container .header-left-second {
width: 325px;
min-height: 125px;
margin: 30px 0;
background: tomato
}

.header-right {
width: 250px;
min-height: 425px;
right: 0;
background: black;
position: absolute;
}
