{% extends 'base_generic.html'%}
{% block content %}
<div class="product-state">
  <h1 sd>Products state</h1>
  {% if Products %}
</div>  
<div class="Product_list">
    {% for product in Products %}
          <div class="product-wrap">
            <div class="product-item">
              <img src="
              {% if product.logo %}
                  {{ product.logo.url }}
              {% else %}
                  
              {% endif %}" style="width: 240px;height:240px;"> 
              <div class="product-buttons">
                <a href="{{product.get_absolute_url}}" class="button">Заказать</a>
              </div>
            </div>
            <div class="product-title">
              <a href="{{product.get_absolute_url}}">{{product.name}}</a>
              <span class="product-price">₽ {{product.price}}</span>
            </div>
          </div>
    {% endfor %}
</div> 
  {% else %}
  <h1>NOTHING</h1>
  {% endif %}
  {% if is_paginated %}
    <div class="pagination" style="position: static">
          <span class="page-links">
              {% if page_obj.has_previous %}
                  <a href="{{ request.path }}?page={{ page_obj.previous_page_number }}">previous</a>
              {% endif %}
              <span class="page-current">
                  Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                 
              </span>
              {% if page_obj.has_next %}
                  <a href="{{ request.path }}?page={{ page_obj.next_page_number }}">next</a>
              {% endif %}
          </span>
          
    </div>

  {% endif %}
 
  {% endblock %}
{%block title%}

    CPU-shOp

{%endblock%}